.custom-responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 141.4%; /* Adjusted for A4 page */
    height: 0;
    overflow: auto;
}

.custom-responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}