.custom-responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 141.4%; /* Adjusted for A4 page */
    height: 0;
    overflow: auto;
}

.custom-responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Scale down the PDF on smaller screens */
@media screen and (max-width: 600px) {
    .custom-responsive-iframe iframe {
        transform: scale(0.6);
        transform-origin: 0 0;
    }
}